@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signinManager

@if (signinManager.IsSignedIn(User))
{
    <form method="post" id="logoutForm" asp-action="LogOff" asp-controller="Account">
        <ul class="nav navbar-nav">
            <li class="text-black-50 nav-link"> Welkom @User.Identity.Name</li>
            <li class="text-black-50">
                <a class="text-black-50 nav-link" href="javascript:document.getElementById('logoutForm').submit()">Uitloggen</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav">
        <li>
            @*@Html.ActionLink("Registreer","register", "Account", routeValues:null, htmlAttributes:new { id = "registerLink"})*@
            <a id="registerLink" class="nav-link text-black-50" asp-action="Register" asp-controller="Account">Registreren</a>
        </li>
        <li>
            @*@Html.ActionLink("Login","Login","Account", routeValues:null, new { id = "loginLink" })*@
            <a id="loginLink" class="nav-link text-black-50" asp-action="Login" asp-controller="Account">Inloggen</a>
        </li>
    </ul>
}