@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-image"
     style="background-image: url('https://www.caravanstallingen.nl/wp-content/uploads/2018/08/Caravanstalling-Stalling31-Bleiswijk-4.jpg'); height: 100vh ">
</div>