@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Dit is het gebruikers portaal voor Camperstalling bentelo</p><br />
    <p>Hier op kunnen gebruikers bekent bij zijn bij ons hun reservaties plaatsen</p><br />
    <p>Had u graag willen registeren voor een camperstalling mail dan nu naar : ttest@test.nl</p>
</div>
