@model CCSB.Models.RegisterViewModel
<h2>Registreren</h2>
<form method="post" asp-action="Register" asp-controller="Account">
    <h4>Account aanmaken</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="FirstName"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="MiddleName"></label>
        <div class="col-md-10">
            <input asp-for="MiddleName" class="form-control" />
            <span asp-validation-for="MiddleName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="LastName"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" row>
        <label class="col-md-2" asp-for="Adres"></label>
        <div class="col-md-10">
            <input asp-for="Adres" class="form-control" />
            <span asp-validation-for="Adres" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" row>
        <label class="col-md-2" asp-for="Postcode"></label>
        <div class="col-md-10">
            <input asp-for="Postcode" class="form-control" />
            <span asp-validation-for="Postcode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Email"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="Password"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="PasswordConfirm"></label>
        <div class="col-md-10">
            <input asp-for="PasswordConfirm" class="form-control" />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2" asp-for="RoleName"></label>
        <div class="col-md-10">
            <select asp-for="RoleName"
                    asp-items="@CCSB.Utility.Helper.GetRolesForDropDown(
User.IsInRole(CCSB.Utility.Helper.Admin))"
                    class="form-control">
                <option selected>-- Selecteer rol</option>
            </select>
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 offset-md-2">
            <input type="submit" value="Registreer" class="btn btn-success" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 offset-md-2">
            <a asp-action="Login">Login</a>
        </div>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}