@model CCSB.Models.Reserveringen
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signinManager
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reserveringen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDatum" class="control-label"></label>
                <input asp-for="StartDatum" class="form-control" />
                <span asp-validation-for="StartDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId"></select>
            </div>


            <div class="form-group">
                <label asp-for="Vehicle" class="control-label"></label>
                <select asp-for="Vehicle" class="form-control" asp-items="ViewBag.CrvPlate"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

